@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
}

.header-container {
  height: 360px;
  background-color: #ffe502;
}

.left-container {
  width: 360px;
}

.avatar {
  height: 360px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-foto {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.i-am {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;

}

.navbar {
  margin-top: 50px;
  background-color: #000000;
}

.nav-btns {
  width: 1080px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-decoration: none;
  padding-bottom: 10px;
  padding-top: 10px;
}

.nav-btn {
  color: #ffe502;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  margin: 0px 10px;
}

.name {
  font-size: 70px;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 20px;
}

.speciality {
  font-size: 45px;
}

.left {
  background-color: #444444;
}

.title-section {
  font-size: 40px;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: solid 3px #ffe502;
  color:  #ffe502;
  margin-top: 20px;
}

.contacts-list {
  list-style-type: none;
  font-size: 25px;
  color: #ffe502;

.contact {
  display: flex;
  justify-content: space-between;
}

.img-contact{
  margin: 0;
  width: 40px;
  height: 40px;
}